name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.9]
        env:
          - TOXENV=py38-django22
          - TOXENV=py38-django22,py38-django31,py38-django32
          - TOXENV=py38-django22,py38-django31,py38-django32
          - TOXENV=lint,py38-django22,py38-django31,py38-django32,coverage
          - TOXENV=py39-django22,py39-django31,py39-django32
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox codecov
      - name: Run tests
        run: tox
      - name: Upload coverage to Codecov
        if: matrix.env == 'TOXENV=lint,py38-django22,py38-django31,py38-django32,coverage'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: codecov
