name: Django CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8]
        django-version: [1.8, 1.11, 2.0, 2.1, 2.2]
        exclude:
          - python-version: 3.8
            django-version: 2.0
          - python-version: 3.8
            django-version: 2.1
          - python-version: 3.8
            django-version: 2.2

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install django==${{ matrix.django-version }}
        if [ "${{ matrix.python-version }}" == "3.8" ]; then pip install black; fi

    - name: Run tests
      run: python manage.py test

    - name: Check code style with Black
      if: matrix.python-version == '3.8'
      run: black --check zen_queries
