name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.8, 3.8]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 10

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git build-essential automake libtool python-dev gettext swig
        pip install flake8

    - name: Check flake8 version
      run: flake8 --version

    - name: Compile AutoBouquetsMaker enigma2 plugin
      run: |
        python -m compileall .
        find . -type f -name "*.po" -exec msgfmt {} -o {}.mo \;

    - name: Run flake8
      run: flake8 --ignore=W191,E128,E501,E722 . --exit-zero

    - name: Done
      run: echo done.
