name: Django Storages CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.9]
        toxenv:
          - flake8
          - integration
          - py38-django22
          - py38-django22
          - py38-django22
          - py38-django22
          - py39-django22
          - py38-django30
          - py38-django30
          - py38-django30
          - py39-django30
          - py38-django31
          - py38-django31
          - py38-django31
          - py39-django31
          - py38-djangomain
          - py38-djangomain
          - py38-djangomain
          - py39-djangomain
      fail-fast: false
      allow-failure:
        toxenv: [py38-djangomain, py38-djangomain, py38-djangomain, py39-djangomain]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Run tests
      run: tox -e ${{ matrix.toxenv }}
